body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #444;
    padding: 10px;
}

    nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 0px;
    }

.section {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(67,187,199);
    margin: 20px;
    max-width: 1200px; /* Set your desired maximum width */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

    .section img {
        max-width: 100%;
        height: auto;
    }

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#fullScreenCarousel {
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner {
    display: flex;
    align-items: center;
    height: 100%;
}

    .carousel-inner img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

@media (max-width: 768px) {
    #fullScreenCarousel {
        height: auto; /* Allow the carousel to adjust its height based on content */
    }

    .carousel-inner img {
        height: auto; /* Allow images to resize while maintaining aspect ratio */
        width: 100%;
    }
}
